@model IEnumerable<Book>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <ul class="m-lg-2 list-group w-50">
        @foreach (var item in Model)
        {
            <li class="list-group-item bg-primary">@item.AuthorName - @item.BookName - <a asp-action="DeleteBook" asp-route-Id="@item.Id" class="fas fa-trash-alt trash-icon"></a></li>
        }
    </ul>

    <form asp-controller="Home" asp-action="IndexPost" method="post">
        <label for="bookName">Enter Book Name</label>
        <input name="bookName" class="form-group" type="text" id="bookName" />
        <input type="submit" class="btn btn-primary" value="Get Result"/>
    </form>

</div>
